.vagrant/
.vscode/
.settings/
target/

.project
*.log
Ant-Media-Server-Common/ant-media-server-common.iml

Ant-Media-Server-Common/.idea/

.idea/

Ant-Media-Server/access.log.1

red5-web.properties

live/

Ant-Media-Server/yKy8eOQMjCgQ1576644555930-2020-04-11_10-32.mp4

Ant-Media-Server/catalina.out

Ant-Media-Server/vod.json

Ant-Media-Server/install_ant-media-server.sh

ant-media-enterprise-1.9.1.jar
Ant-Media-Server/
WebRTC-Android-SDK/
decompile/
dev/
temps/
VidGen_/
ams_enterprise.zip
ams_enterprise-2.10.0.zip
ant-media-enterprise-2.8.2.jar
history_cmd.txt
*.iml
Gravity/
ams_enterprise_2.13.2.zip
ams_enterprise_2.15.0.zip
